services:
  users.service:
    build: ./users.service/src
    container_name: users_service

  auth.service:
    build: ./auth.service/src
    container_name: auth_service

  prompt.service:
    build: ./prompt.service/src
    container_name: prompt_service
    environment:
      - PROMPT_BIND_ADDR=0.0.0.0
      - PROMPT_BIND_PORT=22
      - PROMPT_THREADS=4
      - PROMPT_SSH_RSA_HOST_PUBLIC_KEY_PATH=/run/configs/prompt_ssh_rsa_pubkey
      - PROMPT_SSH_RSA_HOST_PRIVATE_KEY_PATH=/run/secrets/prompt_ssh_rsa_key
    ports:
      - "2222:22"
    secrets:
      - prompt_ssh_rsa_key
    configs:
      - source: prompt_ssh_rsa_pubkey
        target: /run/configs/prompt_ssh_rsa_pubkey

secrets:
  prompt_ssh_rsa_key:
    file: ./prompt.service/dev-artifacts/host_rsa
configs:
  prompt_ssh_rsa_pubkey:
    file: ./prompt.service/dev-artifacts/host_rsa.pub
